* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #282c34;
  height: 200vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}

main div {
}

.preview-container {
  position: relative;
  width: 500px;
}

.preview-container span {
  color: white;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  font-family: "Impact";
}

.preview-img {
  width: 100%;
}

.top-text {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
}

.bottom-text {
  position: absolute;
  /* bottom: 0;
    left: 0; */
}

.text-field {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.created-memes {
  height: 100vh;
}

.created-meme {
  position: relative;
  width: 500px;
}

.created-meme span {
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-family: "Impact";
  position: absolute;
}

.created-meme img {
  width: 500px;
}

.text-field input[type=text] {
    height: 30px;
    padding: 1rem;
    margin: 1rem;
}
