* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 10px;
}

.container {
    display: flex;
    align-items: center;
    background: #282c34;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
}

main div {
    height: 100%;
}

.preview-container {
    position: relative;
    width: 500px;
}

.preview-container span {
    color: white;
    font-size: 5rem;
}

.preview-img {
    width: 100%;
}

.top-text {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    width: 200px;
}