* {
    box-sizing: border-box;
    padding: 0;
    margin 0;
}

html {
    font-size: 10px;
}

.container {
    display: grid;
    grid-template-rows: 10rem 1fr 10rem;
    width: 100vw;
}

header {
    display: none;
    background: #333;
}

main {
    grid-row-start: 2;
    background: #777;
}

footer {
    display: none;
}

.preview img {
    height: 100px;
    width: 100px;
}